
/* --------------utilite--------------- */
h1, h2, h3, h4{
    margin: 0;
    padding: 0;
}
html{
    user-select: none;
    scroll-behavior: smooth;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

body{
    min-width: 320px;
    /* overflow: hidden; */
}
ul{
    padding: 0;
}

/* ---------------------header--------------------- */
.container{
    padding: 0 20px;
}
.header-bgColor{
    background: #2B4074;
}
.header-inner{
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-link{
    margin-left: 5px;
}
.menu-btn{
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background: white;
    border: none;
    background-image: url(./Image/icon/icon-svg/.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 500ms ease-in-out;
}
.menu-btn:hover{
    background: #000;
}

/* -------------head------------- */
.head{
    background-image: url('./Image/BG-bid-slider.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 193px;
}
.top-slider{
    color: white;
    text-align: center;
}
.top-slider__title{
    
    padding: 36px 0 28px 0;
    margin-bottom: -200px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: clamp(28px, 8vw, 96px);
    line-height: 1;
    font-weight: 400;
}

.top-slider>button{
    padding: 16px 45px;
    background: #2B4074;
    width: 220px;
    color: #fff;
    margin: 50px auto 115px auto;
    border: none;
    border-radius: 3px;
    transition: 500ms ease-in-out;
    cursor: pointer;
    opacity: 0;
}
.top-slider>button:hover{
    background: white;
    color: #000;
}
.top-slider>p{
    margin: 0 auto;
    opacity: 0;
}

/* ---------------about--------------- */
.about{
    background: #2B4074;
    color: white;
}
.container-about{
    padding: 40px 20px; 
}
.discription{
    display: flex;
    flex-direction: column;
}
.discription>p{
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
}
.discription>h3{
    text-align: center;
}
.btn-box>button{
    display: inline-block;
    border-radius: 3px;
    text-align: center;
    width: 200px;
    padding: 16px;
    border: none;
    transition: 500ms ease-in-out;
    cursor: pointer;
}
.btn-box>button:hover{
    background: #000;
    color: white;
}
.btn-box{
    display: flex;
    justify-content: center;
}
/* ---------------srevice---------------- */
.srevice{
    background: #fff;
}
.container-service{
    padding: 25px 20px;
}
.service-description{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
}
.service-description>h3{
    margin-bottom: 20px;
    display: block;
}
.service-description>h3::after{
    content: '';
    margin: 20px auto 50px auto;
    background: #2B4074;
    width: 100px;
    height: 8px;
    display: block;
}
.service-description>b{
    margin-bottom: 20px;
}

.cart-item{
    min-width: 230px;
    height: 300px;
    border: 1px solid #F9F6E5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms ease-in-out;
}
.cart-item:hover{
    border: 1px solid  #2B4074;
    background: #D9D9D9;
}

.cart-item>a>img{
    margin-bottom: 30px;
    max-width: 64px;
}
.cart-item>a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart-item__centr{
    display: flex;
    flex-direction: column;
    justify-content: center;   
}
.cart-item__centr>a>p{
    text-align: center;
}
.cart-item__centr>a>img{
    width: 58px;
    height: 62px;
}
/* --------------our-project--------------------- */
.section-our-project{
    background: rgb(43,64,116);
    background: linear-gradient(180deg, rgba(43,64,116,1) 0%, rgba(255,255,255,0) 100%);
}
.container-our-project>h3{
    padding-top: 28px;
    margin-bottom: 20px;
    color: #ffffff;

    font-family: 'Roboto Condensed', sans-serif;
    font-size: clamp(24px, 8vw, 48px);
    font-weight: 400;
    line-height: 28.13px;
    text-align: center;

}
.container-our-project>h3::after{
    content: '';
    margin: 20px auto 50px auto;
    background: #ffffff;
    width: 100px;
    height: 8px;
    display: block;
}
.our-project-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;

}
.our-project-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 270px;
    cursor: pointer;
    
}
.img-box>img{
    border-radius: 3px;
    max-width: 520px;
    width: 100%;
    object-fit: cover;
}
.img-box{
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.img-box:hover .icon-box{
    opacity: 1;
}

.icon-box{
    position: absolute;
    background: #f9f6e59b;
    width: 90%;
    height: 90%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 500ms ease-in-out;
    border-radius: 3px;
}
.img-box>p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28.13px;
    text-align: center;

    color: #2B4074;
}
/* ------------------our-team-------------------- */
.our-tean-container{
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our-tean-container>img{
    max-width: 520px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.our-team-description-box>h3{
    margin-top: 40px;
    margin-bottom: 60px;

    text-align: center;
    font-size: clamp(24px, 8vw, 48px);
    color: #4A4A4A;
}

.our-team-description-box>h3::after{
    content: '';
    margin: 20px auto 40px auto;
    background: #2B4074;
    width: 100px;
    height: 8px;
    display: block;
}
.our-team-description-box>p{
    text-align: center;
    font-size: 16px;
    color: #9B9B9B;
}
.our-team-description-box>button{
    display: flex;
    justify-content: center;
    margin: 60px auto 30px auto;
    padding: 20px 26px;
    width: 220px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 20px;
    color: #fff;
    background: #2B4074;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    transition: 500ms ease-in-out;
}
.our-team-description-box>button:hover{
    background: #fff;
    color: #2B4074;
    border: 1px solid #2B4074;
}
/* ------------------ section-Latest-News-------------------*/

.section-Latest-News{
    background: #F9F6E5;
}
.Latest-News-container>h3{
    margin-bottom: 40px;

    font-family: 'Roboto Condensed', sans-serif;
    font-size: clamp(24px, 8vw, 48px);
    font-weight: 400;
    line-height: 28.13px;
    text-align: center;
}
.Latest-News-container>h3::after{
    content: '';
    margin: 20px auto 40px auto;
    background: #2B4074;
    width: 100px;
    height: 8px;
    display: block;
}
.Latest-News-container{
    padding: 50px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Latest-News-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.Latest-News-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
    transition: 500ms ease-in-out;
}
.Latest-News-item:nth-child(3){
    border: 10px solid #2B4074;
    position: relative;
}
.Latest-News-item:nth-child(3)>p{
    position: absolute;
    bottom: 20px;
    display: block;
    background: #2B4074;
    padding: 10px 0 10px 20px;
    /* text-align: center; */
    color: #fff;
    width: 100%;
}
.Latest-News-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #fff;
    
}
.Latest-News-item:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* ---------------recomend------------------ */
.recomend-container{
    padding: 50px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recomend-container>img{
    margin: 60px 0 80px 0;
}
.recomend-discript>p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: #4A4A4A;
}
.recomend-discript>p>span{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    color: #2B4074;
}
.recomend-container>b{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28.13px;
    text-align: center;
    color: #4A4A4A;
}
/* ---------------------footer---------------------- */
.footer{
    color: white;
    background: #2B4074;
}
.footer-container{
    position: relative;
}
.footer-logo-link+h3{
    text-align: center;
    padding-top: 80px;
}
.footer-logo-link{
    display: flex;
    justify-content: center;
    border-radius: 3px;
    width: 230px;
    background: #2B4074;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.footer-logo{
    
    width: 85px;
    height: 55px;
}
.footer-list-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    gap: 16px;
}
.footer-fist-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 0;
    gap: 41px;
    text-align: center;
}
.footer-fist-data>li>h4{
    margin-bottom: 20px;
}
.footer-fist-data>li{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-fist-data>li>a{
    color: #fff;
    margin-bottom: 10px;
}
/* ---------------section-up----------------- */
.section-up{
    background: #F9F6E5;
}
.up-container{

    min-width: 320px;
    display: flex;
    justify-content: center;
    padding: 50px 0 20px 0;
}
.up-container>p{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: #4A4A4A;
}

@media (min-width: 640px) {
    .container{
        padding: 0 30px;
    }
    .container-about{
        padding: 40px 30px; 
    }
    .logo-link{
        margin-left: 23px;
    }
    .header-inner{
        min-height: 100px;
    }
    .service-description>b{
        margin-bottom: 60px;
    }
    .service-description>h3::after{
        content: '';
        margin: 0 auto 0 auto;
        background: #2B4074;
        width: 100px;
        height: 8px;
        display: block;
        transform: translateY(80px);
    }
    .cart-item{
        width: 320px;
        height: 320px;
        border: 1px solid #F9F6E5;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cart-list{
        width: 640px;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .container-service{
        padding: 25px 0;
    }
    .top-slider>button{
        opacity: 1;
    }
    .top-slider__title{
        padding: 50px 0 28px 0;
        /* font-size: 60px; */
        margin-bottom: 0;
    }
    .top-slider>p{
        text-align: center;
        width: 600px;
        opacity: 1;
    }
    .container-our-project>h3{
        padding-top: 40px;
        /* font-size: 48px; */
    }
    .img-box+p{
        margin-top: 30px;
        font-size: 20px;
    }

    .Latest-News-list{
        width: 580px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
    }
    .recomend-discript>p{
        font-size: 32px;
    }
    .recomend-discript>p>span{
        font-size: 32px;
    }
    .recomend-container>b{
        font-size: 30px;
        margin-bottom: 80px;
    }
    .footer-container{
        position: relative;
        padding: 0 40px;
    }
    .footer-logo-link+h3{
        text-align: left;
        padding-top: 80px;
    }
    .footer-list-icon{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        gap: 0;
    }
    .footer-list-icon>li{
        height: 57px;
        min-width: 140px;
        border: 2px solid #7EBF84;
    }
    .footer-list-icon>li:last-child{
        border-right: 0;
    }
    .footer-list-icon>li:first-child{
        border-left: 0;
    }
    .footer-list-icon>li>a{
        width: 100%;
        height: 100%;
       display: flex;
       align-items: center;
       justify-content: center;
    }
    .footer-fist-data{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 40px;
        margin-bottom: 0;

        row-gap: 20px;
        column-gap: 200px;
        
    }
    .footer-fist-data>li>h4{
        margin-bottom: 20px;
    }
    .up-container{
        justify-content: end;
        padding: 20px 10px 20px 10px;
    }
    .up-container>p{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 20px;
    }
    
}
@media (min-width: 768px) {
    .container{
        padding: 0 40px;
    }
    .logo-link{
        margin-left: 5px;
    } 
    .top-slider__title{
        padding: 80px 0 28px 0;
        /* font-size: 60px; */
    }
    .container-about{
        padding: 60px 20px 40px 20px; 
        display: flex;
        align-items: center;
    }
    .discription>p{
        margin-top: 10px;
        margin-bottom: 0;
        text-align: left;
    }
    .discription>h3{
        text-align: left;
    }
    .discription{
        display: flex;
        flex-direction: column;
        margin-right: 55px;
    }
    .service-description>span{
       display: flex;
      
    }
    .service-description>b{
        margin-bottom: 20px;
        text-align: left;
    }
    .service-description>p{
        text-align: left;
    }
    .service-description{
        padding: 0 35px;
    }
    .cart-item{
        width: 384px;
        height: 384px;
        border: 1px solid #F9F6E5;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cart-list{
        width: 768px;
        margin: 0 auto;
    }
    .service-description>b{
        margin-bottom: 50px;
        font-size: 24px;
    }
    .service-description>h3::after{
        content: '';
        margin: 0 auto 0 0;
        background: #2B4074;
        width: 100px;
        height: 8px;
        display: block;
        transform: translateY(80px);
    }
    .our-project-list{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        padding: 0 50px;
        width: 760px;
        gap: 30px;
        margin: 0 auto;
    }
    .our-project-item{
        width: 315px;
    }
    .container-our-project>h3{
        padding-top: 80px;
    }
    .container-our-project>h3::after{
        content: '';
        margin: 30px auto 80px auto;
    }
    .our-tean-container{
        padding: 50px 20px;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
    }
    .our-tean-container>img{
        max-width: 240px;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
    .our-team-description-box>h3{
        margin-bottom: 40px;
        margin-top: 0;
        text-align: left;
    }
    .our-team-description-box>p{
        text-align: left; 
        line-height: 1.5;
    }
    .our-team-description-box>button{
        display: flex;
        justify-content: center;
        margin: 60px auto 30px auto;
        padding: 20px 26px;
        width: 220px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-size: 20px;
        color: #fff;
        background: #2B4074;
        border: 1px solid transparent;
        border-radius: 3px;
        transition: 500ms ease-in-out;
        transform: translateX(-130px);
    }
    .our-team-description-box{
        width: 390px;
        margin-left: 35px;
    }
    .section-our-team{
        display: flex;
        justify-content: center;
    }
    .our-team-description-box>h3{
        font-size: 36px;
    }
    .our-team-description-box>h3::after{
        content: '';
        margin: 20px auto 40px 0;
        background: #2B4074;
        width: 100px;
        height: 8px;
        display: block;
    }

    

}
@media (min-width: 1024px) {
    .container{
        padding: 0 40px;
        max-width: 1200px;
        margin: 0 auto;
    }
    .container-about{
        padding: 40px; 
        display: flex;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        justify-content: space-between;
    }
    .discription{
        display: flex;
        flex-direction: column;
        max-width: 500px; 
    }
    .container-service{
        padding: 0;
        max-width: 1200px;
        margin: 0 auto;
    }
    .cart-item{
        width: 256px;
        height: 276px;
        border: 1px solid #F9F6E5;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cart-item>a>{
        width: 256px;
    }
    .cart-list{
        width: 1024px;
        margin: 0 auto;
    }
    .service-description>h3{
        margin-top: 55px;
        display: block;
        font-size: 48px;
    }
    .service-description>p{
        width: 500px;
        font-size: 18px;
    }
    .our-tean-container>img{
        max-width: 395px;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
    .our-team-description-box>h3{
        margin-bottom: 40px;
        margin-top: 0;
        text-align: left;
    }
    .our-team-description-box>p{
        text-align: left; 
        line-height: 1.5;
    }
    .our-team-description-box>button{
        display: flex;
        justify-content: center;
        margin: 67px 0 0 0;
        padding: 20px 26px;
        width: 220px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-size: 20px;
        color: #fff;
        background: #2B4074;
        border: 1px solid transparent;
        border-radius: 3px;
        transition: 500ms ease-in-out;
        transform: translateX(0);
    }
    .our-team-description-box{
        width: 390px;
        margin-left: 35px;
    }
    .section-our-team{
        display: flex;
        justify-content: center;
    }
    .our-team-description-box>h3{
        font-size: 48px;
    }
    .Latest-News-list{
        width: 866px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
    }
    .recomend-container{
        padding: 0 40px;
        max-width: 1200px;
        margin: 0 auto;
    }
    .recomend-discript{
        width: 760px;
    }
    .footer-container{
        padding: 0 40px;
        max-width: 1200px;
        margin: 0 auto;
    }
    .up-container{
        padding: 0 40px;
        max-width: 1200px;
        margin: 0 auto;
    }
    .footer-fist-data{
        column-gap: 150px;
    }
}
@media (min-width: 1440px) {
    .container{
        max-width: 1320px;
    }
    .menu{
        margin-right: 75px;
    }
    .container-about{
        padding: 60px 75px; 
        display: flex;
        align-items: center;
        max-width: 1320px;
        margin: 0 auto;
        justify-content: space-between;
    }
    .cart-list{
        width: 1024px;
        margin: 0 auto;
    }
    .discription{
        display: flex;
        flex-direction: column;
        max-width: 500px;
        
    }
    .container-service{
        padding: 0 ;
        max-width: 1320px;
        margin: 0 auto;
        display: flex;
    }
    .service-description{
        width: 400px;
    }
    .service-description>h3{
        text-align: left;
        margin-bottom: 65px;

        font-size: 48px;
    }
    .service-description>b{
        width: 350px;

        font-size: 24px;
        margin-bottom: 60px;
    }
    .service-description>p{
        width: 350px;

        font-size: 18px;
    }
    .cart-item{
        width: 230px;
        height: 274px;
        border: 1px solid #F9F6E5;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .service-description>h3::after{
        content: '';
        margin: 0 auto 0 0;
        background: #2B4074;
        width: 100px;
        height: 8px;
        display: block;
        transform: translateY(160px);
    }
    .our-project-list{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        padding: 0;
        width: 1200px;
        gap: 26px;
        margin: 0 auto;
    }
    .our-project-item{
        width: 270px;
    }
    .our-tean-container>img{
        max-width: 450px;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
    .our-team-description-box{
        width: 405px;
        margin-left: 100px;
    }
    .our-team-description-box>h3{
        font-size: 48px;
    }
    .our-team-description-box>p{
        font-size: 18px;
    }
    .Latest-News-list{
        width: 1155px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 20px;
        flex-wrap: wrap;
    }
    .recomend-discript>p{
        font-size: 36px;
    }
    .recomend-discript>p>span{
        font-size: 36px;
    }
    .recomend-container>b{
        font-size: 24px;
        margin-bottom: 90px;
    }
}